@model ML.Pokemon
@{
    ViewData["Title"] = "GetPokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/CardPokemon.css" />
</head>

@foreach (ML.Pokemon pokemon in Model.Pokemones)
{
    <div class="right">
        <div class="container-fluid bg-trasparent my-2 p-2" style="position: center;">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                <div class="col" style="height: 30rem; width: 18rem">
                    <div class="card h-100 shadow-sm" style="height:15rem">
                        <img src=@pokemon.Imagen class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3">
                            </div>
                            <h5 class="card-title">@pokemon.Nombre</h5>
                            <br>
                            <div class="text-center my-4">
                                <a href="@Url.Action("DetallesPokemon", "Pokemon", new {Url = pokemon.url})" class="btn btn-success">Detalles<i class="bi bi-cart3" style="color: khaki"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

